<div class="container mt-5 col-md-4">
  <h3 class="text-center mb-3">User Login</h3>
  <div class="card p-3 shadow">
    <form ng-submit="login()">
      <div class="mb-3">
        <label>Email</label>
        <input type="email" class="form-control" ng-model="credentials.email" required>
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input type="password" class="form-control" ng-model="credentials.password" required>
      </div>
      <button class="btn btn-primary w-100">Login</button>
      <p class="text-danger mt-2">{{message}}</p>
    </form>
  </div>
</div>